<div class = "row text-center">
  <% @subjects.each do |s| %>
    <aside class="col-sm-2">
      <button type="button" class="btn btn-outline-primary btn-lg"><%= link_to s.name, subject_path(s) %></button>
    </aside>
  <% end %>
  <aside class="col-sm-2">
    <button type="button" class="btn btn-outline-primary btn-lg"><%= link_to "全て", questions_path %></button>
  </aside>
</div> 

<%= render "questions/questions", questions: @questions %>


<div class="text-center">
  <div class="">
    <%= link_to "質問作成", new_question_path, class: 'btn btn-primary' %>
  </div>
</div>

